---
title: "Product Development"
---
<article class="page-content padding-large">

  <div class="shout-out min-width">
    <p>Cultivate have years of experience designing and building web and mobile applications. We provide full-service, end-to-end product development, from early stage problem/solution validation, through to iterative design, development and delivery.  Our experienced teams combine deep expertise in software engineering, visual and user experience design, and product management. </p>
    <%= partial "partials/client_ribbon" %>
  </div>

  <div class="mid-width">
    <div class="columns">

      <div class="column column--one-third">
        <h2>Process</h2>
        <p>All of our processes are geared towards helping you build the right product. Our team will collaborate closely with you to understand your business, then iteratively deliver a focused, valuable solution from scratch, or help improve an existing product.</p>
        <blockquote class="testimonial-quote-micro">
          <div class="testimonial-quote__image"><%= image_tag "images/testimonials/large/edmund-ward.jpg", alt: "Photo of Edmund Ward" %></div>
          Cultivate helped us to distill our unique requirements down, and define what was needed to deliver a replacement system in 6 weeks. The new system is highly focused, simpler to use than it’s predecessor and delivers all the functionality we required. Cultivate delivered exactly what was needed, on time and within budget. They spent the time with us early in the project to completely understand what was required, then worked closely with us to build the solution.
          <cite>Edmund Ward<br>Syndication Manager, The Money Advice Service</cite>
        </blockquote>
      </div>

      <div class="column column--one-third">
        <h2>Modern Development</h2>
        <p>Modern product development has fundamentally changed the way organisations create successful software products. We’ve been at the forefront of Lean and Agile methodologies for many years, partnering with some of the world’s best companies to put principles into practice.</p>
        <blockquote class="testimonial-quote-micro">
          <div class="testimonial-quote__image"><%= image_tag "images/testimonials/large/jeff-gothelf.jpg", alt: "Photo of Jeff Gothelf" %></div>
          I've worked with the folks at Cultivate first hand. While they excel at agile product development, where they really shine is in striving to continually understand changing client and customer needs and incorporating those learnings, in real time, into their work. This results not only in products built and designed well but also ones that demonstrably impact their clients' businesses.
          <cite>Jeff Gothelf<br>Author, Lean UX</cite>
        </blockquote>
      </div>

      <div class="column column--one-third column--last">
        <h2>Solid Experience</h2>
        <p>We combine in-depth technical, business and design knowledge with experience across multiple industries. Previous clients cover FTSE100 companies, VC-backed startups, and public sector organisations including GOV.UK, The North Face, Living Social, JP Morgan and many others.</p>
        <blockquote class="testimonial-quote-micro">
            <div class="testimonial-quote__image"><%= image_tag "images/testimonials/large/chris-greening.jpg", alt: "Photo of Chris Greening" %></div>
          Cultivate’s combination of technical knowledge, industry experience and business knowledge was invaluable to us. You are not just dealing with a group of developers but with a group of people who have delivered a large number of projects in the real world. Cultivate provided clarity on our product direction and an understanding of what was possible and deliverable.
          <cite>Chris Greening<br>CTO, MRM Brand</cite>
        </blockquote>
      </div>

    </div>
  </div>

</article>
<%= partial "partials/cta" %>
<div class="row padding-medium">
  <h2>Related Services</h2>
  <div class="services-links max-width">
    <%= partial "/partials/service_links/software_development" %>
    <%= partial "/partials/service_links/user_experience" %>
    <%= partial "/partials/service_links/clients" %>
  </div>
</div>
