---
title: "Elixir Development"
---
<article>
  <div class="page-content padding-large">
    <div class="min-width">
      <h2>Experience</h2>
      <p>Our team have many years of experience successfully delivering complex web applications for <a href="/clients/">our clients</a>. We're already using Elixir on <a href="/clients/case-studies/38-degrees">live client projects</a> and can partner with you to make the most of Elixir for your next project.</p>
      <%= partial "partials/client_ribbon" %>
      <h2>Future Proof</h2>
      <p>We believe the combination of Phoenix, Ecto and Elixir is the the future of web applications. While Phoenix is just as productive as Rails it has a more scalable philosophy. Out of the box, Phoenix in Umbrella Applications give us a great framework for organising the structure of our projects, ready to grow with our clients’ needs. The amazing power and resilience of OTP is there when we need it.</p>
      <h2>Community, Talks and Blog Posts</h2>
      <p>We are proud sponsors of Elixir London Conference, Elixir Conf EU and Code Sync - Code Elixir, and look forward to being part of the community as it grows and develops.</p>
      <p>Our very own Alan Gardner (<a href="https://twitter.com/mr_urf">@mr_urf</a>) spoke at ElixirConf 2015 on combining the Phoenix web framework with the Elm programming language. You can watch the talk below or check out <a href="/posts/phoenix-elm-1/">our in-depth tutorial</a> in our blog.</p>
      <p>Paul Wilson (<a href="https://twitter.com/paulanthonywils">@paulanthonywils</a>), our Managing Director  recently gave a talk about using Elixir and Nerves at ElixirConfEU 2016. You can also find his talk below.</p>
    </div>
    <section class="cta cta--transparent cta-inline padding">
        <h4>Looking to start a new project, or improve an existing one?</h4>
        <a class="button button--extended" href="/contact/">Get in touch</a>
  </div>

  <div class="row row--light row--image-feature padding-medium-top">
    <div class="min-width">
      <h2>Phoenix with Elm - ElixirConf 2015</h2>
      <div class="video-wrapper">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/MgFDZx1LmOE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="shout-out padding">
        <a href="/posts/phoenix-elm-1/">View Alan's Blog Posts - Phoenix with Elm </a>
      </div>
    </div>
  </div>

  <div class="row row--light row--image-feature padding-medium top-spaced">
    <div class="min-width">
      <h2>How to Build a Slack-Controlled, Saxophone-Playing Robot (on Wheels) Using Elixir and Nerves - ElixirConfEU 2016</h2>
      <div class="video-wrapper">
        <iframe src="https://player.vimeo.com/video/167743682?title=0&byline=0&portrait=0" width="1280" height="719" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>

</article>

<%= partial "partials/cta" %>
<div class="row padding-medium">
  <h2>Related Services</h2>
  <div class="services-links max-width">
    <%= partial "partials/service_links/software_development" %>
    <%= partial "partials/service_links/product_development" %>
    <%= partial "partials/service_links/clients" %>
  </div>
</div>
