---
title: "Software Development"
---
<article class="page-content padding-large">

  <div class="shout-out divider min-width">
    <p>Cultivate have a rich heritage and proven track record for world-class software development. Our experience and practices ensure you get the highest quality code, and our flexible approach removes waste and lets you deliver the right product, fast.</p>
  </div>

  <div class="mid-width">
    <div class="columns">

      <div class="column column--one-third">
        <h2>Quality</h2>
        <p>Cultivate have built a strong reputation for consistently delivering at the highest level. Our experienced engineers use a rigorous and proven agile methodology. Beyond our highly selective hiring process, we work in pairs, write tests first, deploy to production frequently and regularly to reflect our progress. This ensures a flexible codebase, the highest quality code and reduced time to delivery.</p>
        <p>We don't cut corners, and will never compromise the quality of your product to create more work for ourselves, or to undercut other consultancies on price.</p>
        <p>With Cultivate, you get the best industry talent, the highest quality code, and unparalleled excellence in software, strategy, scalability and sustainability.</p>
        <blockquote class="testimonial-quote-micro">
          <div class="testimonial-quote__image"><%= image_tag "images/testimonials/large/evan-henshaw-plath.jpg", alt: "Photo of Evan Henshaw-Plath" %></div>
          The team at Cultivate combine the best of agile software delivery with an in-depth knowledge of product development. It’s hard to find a team as experienced and passionate as they are.
          <cite>Evan Henshaw-Plath<br>Co-creator, Twitter</cite>
        </blockquote>
      </div>

      <div class="column column--one-third">
        <h2>Flexibility</h2>
        <p>Our highest priority is to create valuable software that meets the needs of your customers. Our experience has shown that these will evolve as we begin to better understand requirements. Our methods expect and embrace change, allowing you to react quickly to changing needs within the planned roadmap.</p>
        <p>Our development processes focus on delivering working software that allows you to quickly gather feedback from your customers. We do this with frequent releases, allowing customer requirements to be rapidly understood and reflected in the development process.</p>
        <p>We are so confident in our ability to deliver quality, we back this up with a flexible two-week rolling contract, allowing you to end an engagement if you need to change direction, pause or stop.</p>
        <blockquote class="testimonial-quote-micro">
          <div class="testimonial-quote__image"><%= image_tag "images/testimonials/large/giff-constable.jpg", alt: "Photo of Giff Constable" %></div>
          The Cultivate team is an exceptional group of software engineers. You get the highest quality of process, code, and technical architecture. They know how to keep a software project out of trouble. They not only have impeccable integrity, but they are also delightful to work with.
          <cite>Giff Constable<br>CEO, Neo and Author, Talking to Humans</cite>
        </blockquote>
      </div>

      <div class="column column--one-third column--last">
        <h2>Collaboration</h2>
        <p>We believe in being transparent and highly collaborative with our clients. While we can respond to changing requirements at short notice, we like to have a regular, weekly cadence with a set of goals that get established at the start of each week. To foster communication and resolve any issues or inefficiencies as they arise, we strive for regular team standups and bi-weekly team retrospectives. However, we also try to customise our processes to the needs and context of each project.</p>
        <p>We encourage collaboration with our clients’ teams, either in-house or remotely as a great way to share knowledge, improve culture and build a high performing team.</p>
        <blockquote class="testimonial-quote-micro">
          <div class="testimonial-quote__image"><%= image_tag "images/testimonials/large/julien-letissier.jpg", alt: "Photo of Julian Letissier" %></div>
          The collaboration with Cultivate was instrumental in building a culture of remote collaboration which we expanded across our whole engineering team. They integrated to our practices while also rubbing off on our engineers. The project was a success, and we came out with a better team than when we started!
          <cite>Julian Letissier<br>VP of Technology, HouseTrip</cite>
        </blockquote>
      </div>

    </div>

  </div>

</article>
<%= partial "partials/cta" %>
<div class="row padding-medium">
  <h2>Related Services</h2>
  <div class="services-links max-width">
    <%= partial "partials/service_links/ruby" %>
    <%= partial "partials/service_links/elixir" %>
  </div>
  <div class="services-links max-width">
    <%= partial "partials/service_links/product_development" %>
    <%= partial "partials/service_links/user_experience" %>
    <%= partial "partials/service_links/clients" %>
  </div>
</div>
