---
title: "Ruby Development"
---
<article>
  <div class="page-content padding-large-top">
    <div class="shout-out divider min-width">
      <p>Our team have been part of the Ruby community for many years, building a strong reputation for quality. We've been building Ruby on Rails applications since 2009, when we operated as the Edinburgh office of EdgeCase, a software development studio with a passion for craftsmanship.</p>
    </div>

    <div class="min-width">
      <p>Our team has years of experience helping <a href="/clients/">clients of all sizes</a> build well-engineered, scalable applications. We can guide you through the <a href="/services/product-development/">creation of a brand new product</a>, but are equally comfortable supporting high performance teams on some of the world’s largest applications.</p>
    <section class="cta cta--transparent padding">
        <h4>Looking to start a new project, or improve an existing one?</h4>
        <a class="button button--extended" href="/contact/">Get in touch</a>
    </section>
      <p>We've been at the heart of the Ruby community for many years, organising the <a href="http://2014.scottishrubyconference.com/">Scottish Ruby Conference</a> and the Scottish Ruby User Group. Our team have partnered with high-performance Ruby teams around the world, with previous clients including Living Social, Housetrip, The Government Digital Service, Holiday Extras and The Money Advice Service. You can find out what it's like to work with us <a href="/testimonials/">here</a>.</p>
    </div>
  </div>

  <blockquote class="testimonial-quote-macro">
    <div class="min-width">
      <div class="testimonial-quote__image"><%= image_tag "images/testimonials/large/alastair-williamson-pound.jpg", alt: "Photo of Alastair Williamson-Pound" %></div>
      In every project I worked with Cultivate on, they always found opportunities to exceed expectations. Cultivate continuously over-delivered and provided expert guidance. I can highly recommend the services provided by Cultivate. I only hope that I get to work with other development companies that are as talented, professional and easy to work with.
      <cite>Alastair Williamson-Pound - Senior Product Manager, The Money Advice Service</cite>
    </div>
  </blockquote>

  <div class="row row--light row--image-feature padding-medium">
    <h3>Scottish Ruby conference 2010</h3>
    <%= image_tag("services/scottish-ruby-conference.jpg", alt: 'Screenshot of MAS Budget Planner') %>
  </div>

</article>

<%= partial "partials/cta" %>
<div class="row padding-medium">
  <h2>Related Services</h2>
  <div class="services-links max-width">
    <%= partial "partials/service_links/software_development" %>
    <%= partial "partials/service_links/product_development" %>
    <%= partial "partials/service_links/clients" %>
  </div>
</div>
