---
title: "Ruby on Rails"
---
<article>
  <div class="page-content padding-large-top">
    <div class="min-width">
      <h2>Heritage</h2>
      <p>
        Cultivate’s team have been building the highest quality Ruby on Rails applications since 2009. Throughout our history, we’ve operated under a number of brand names (EdgeCase, Neo and Cultivate), but our vision and passion for our craft remains unchanged. 
      </p>
      <p>
        We’ve been at the core of the Ruby community for years. Our team organised the Scottish Ruby Conference, and have partnered with clients of all sizes to create green field products, and supported teams on some of the world’s largest applications. Our clients cover startup, enterprise and government organisations and we flex our approach to fit with their unique requirements. 
      </p>

      <div class="client-ribbon">
        <ul class="clients-list">
          <li><%= image_tag("clients/deliveroo.svg", alt: 'Deliveroo') %></li>
          <li><%= image_tag("clients/gov-uk.svg", alt: 'GOV.UK') %></li>
          <li><%= image_tag("clients/house-trip.svg", alt: 'House Trip') %></li>
          <li><%= image_tag("clients/money-advice-service.svg", alt: 'Money Advice Service') %></li>
          <li><%= image_tag("clients/living-social.svg", alt: 'Living Social') %></li>
          <li><%= image_tag("clients/38-degrees.svg", alt: '38 Degrees') %></li>
        </ul>
      <a href="/testimonials/">see what our clients say about us</a>
      </div>

      <h2>Quality</h2>
      <p>
      We care deeply about the quality of our work. Aside from our highly selective hiring process, we work in pairs, write tests first, deploy to production frequently and regularly reflect on our progress. This ensures the highest quality code and reduced time to delivery. 
      </p>
    <section class="cta cta--transparent cta-inline padding">
        <h4>Looking to start a new project, or improve an existing one?</h4>
        <a class="button button--extended" href="/contact/">Get in touch</a>
    </section>
      <p>
      We don't cut corners, and will never compromise the quality of your product to create more work for ourselves, or to undercut other consultancies on price. With Cultivate, you get the best industry talent, the highest quality code, and unparalleled excellence in software strategy, scalability and sustainability.
      </p>

      <h2>
        Communication
      </h2>
      <p>
      We use a combination of tools and processes to ensure transparency, frequent and honest feedback and communication with all areas of business. We aim for frequent communication throughout the entirety of our projects, aiming for the following as a minimum level of contact: 
      </p>
      <ul>
        <li> Daily morning stand-up call </li> 
        <li> Daily summary email </li>
        <li> Frequent “show and tell” demonstrations </li> 
        <li> ‘Always on’ discussion available through Slack or similar tools </li>
        <li> Beginning of week - Iteration Planning Meeting </li>
        <li> Bi-weekly - project retrospective </li>
      </ul>
      <h2>
        Experience
      </h2>
      <p>
      We are long term lean and agile practitioners and have a deep understanding of product management, user experience design and visual design. Over the years, our previous colleagues have literally written the book on Lean UX.
      </p>
      <p>
      We combine in-depth technical, business and industry knowledge with experience across multiple industries. Previous clients cover FTSE100 companies, VC-backed startups, and public sector organisation.
      </p>
    </div>
  </div>
  <blockquote class="testimonial-quote-macro">
    <div class="min-width">
      <div class="testimonial-quote__image"><%= image_tag "images/testimonials/large/alastair-williamson-pound.jpg", alt: "Photo of Alastair Williamson-Pound" %></div>
      In every project I worked with Cultivate on, they always found opportunities to exceed expectations. Cultivate continuously over-delivered and provided expert guidance. I can highly recommend the services provided by Cultivate. I only hope that I get to work with other development companies that are as talented, professional and easy to work with.
      <cite>Alastair Williamson-Pound - Senior Product Manager, The Money Advice Service</cite>
    </div>
  </blockquote>
  <blockquote class="testimonial-quote-macro">
    <div class="min-width">
      <div class="testimonial-quote__image"><%= image_tag "images/testimonials/large/giff-constable.jpg", alt: "Photo of Evan Giff Constable" %></div>
      The Cultivate team is an exceptional group of software engineers. You get the highest quality of process, code, and technical architecture. They know how to keep a software project out of trouble. They not only have impeccable integrity, but they are also delightful to work with.
      <cite>Giff Constable - VP of Product, Axial</cite>
    </div>
  </blockquote>
  <blockquote class="testimonial-quote-macro">
    <div class="min-width">
      <div class="testimonial-quote__image"><%= image_tag "images/testimonials/large/julien-letissier.jpg", alt: "Photo of Julien Letissier" %></div>
      Where most consultancies expect specs to be thrown over the fence, the Cultivate engineers truly became part of our team. The collaboration with Cultivate was instrumental in building a culture of remote collaboration which we expanded across our whole engineering team. They integrated to our practices while also rubbing off on our engineers. The project was a success, and we came out with a better team then when we started!
      <cite>Julien Letissier - CTO, Housetrip</cite>
    </div>
  </blockquote>
  <blockquote class="testimonial-quote-macro">
    <div class="min-width">
      <div class="testimonial-quote__image"><%= image_tag "images/testimonials/large/chris-greening.jpg", alt: "Photo of Chris Greening" %></div>
      Cultivate's combination of technical knowledge, industry experience and business knowledge was invaluable to us. You are not just dealing with a group of developers but with a group of people who have delivered a large number of projects in the real world. Cultivate provided clarity on our product direction and an understanding of what was possible and deliverable. This has proved to be invaluable in executing our projects and delivering value to our customers.
      <cite>Chris Greening - CTO, MRM Brand</cite>
    </div>
  </blockquote>
</article>

<%= partial "partials/cta" %>
<div class="row padding-medium">
  <h2>Related Services</h2>
  <div class="services-links max-width">
    <%= partial "partials/service_links/software_development" %>
    <%= partial "partials/service_links/product_development" %>
    <%= partial "partials/service_links/clients" %>
  </div>
</div>
