---
title: "Case Study"
subtitle: "Aquila Insight"
---
<article>

  <div class="page-content padding-medium">
    <div class="shout-out divider min-width">
      <%= image_tag("clients/aquila-insight.svg", alt: 'Aquila Insight', class: 'case-study-image' ) %>
      <p>Aquila Insight is a data analytics consultancy that works with some of the UK’s biggest brands, helping them to make evidenced-based decisions from their data.</p>
    </div>

    <div class="min-width">
      <p>Having built a successful consultancy, Aquila Insight were looking to take their depth of industry knowledge and create a complementary software platform. Cultivate were engaged to help the team with their transition to becoming a technology company.</p>
      <p>Cultivate undertook an Inception to build an understanding of their market, identifying areas where a software platform could help them achieve their goals. We developed an initial development roadmap including sliced, estimated and prioritised releases, giving the team an understanding of the platform as a whole, whilst enabled balanced and incremental development.</p>
    </div>
  </div>

  <div class="row row--light row--image-feature padding-medium">
    <%= image_tag("case-studies/aquila1.jpg", alt: 'Screenshot of Aquila Insight') %>
  </div>

  <div class="page-content padding-medium-top">
    <div class="min-width">
      <p>Cultivate also provided guidance on the development approach for Aquila’s product, including team makeup, recommended development practices and advice on how to transition to an in- house team.</p>
      <p>Aquila Insight are now the UK’s fastest growing data analytics company, rapidly expanding their operations and supporting a number of leading brands including Sony, The Co-operative Bank, Tesco Bank and Office Depot.</p>
    </div>
  </div>

  <blockquote class="testimonial-quote-macro">
    <div class="min-width">
      <div class="testimonial-quote__image"><%= image_tag "images/testimonials/large/nick-jones.jpg", alt: "Photo of Nick Jones" %></div>
      Cultivate played a key role in the early stages our product development journey. They helped bridge the gap between business and technology, working with us to build consensus around our unique business environment before jumping into feature delivery. This was hugely valuable in helping us to focus and prioritise our development efforts.  I would highly recommend the services provided by Cultivate.
      <cite>Nick Jones - Investor and Non-Executive Director, Aquila Insight</cite>
    </div>
  </blockquote>

</article>
<%= partial "partials/cta" %>
<div class="row padding-medium">
  <h2>Related Services</h2>
  <div class="services-links max-width">
    <%= partial "partials/service_links/product_development" %>
    <%= partial "partials/service_links/user_experience" %>
    <%= partial "partials/service_links/clients" %>
  </div>
</div>
