---
title: "Case Study"
subtitle: "Gov UK e-petitions"
---
<article>

  <div class="page-content padding-medium">
    <div class="shout-out divider min-width">
      <%= image_tag("clients/gov-uk.svg", alt: 'GOV.uk', class: 'case-study-image' ) %>
      <p>e-petitions allows members of the public to create and sign petitions online. If a petition gets 10,000 signatures, the government will respond, and petitions with 100,000 signatures or more are considered for debate in parliament.</p>
    </div>

    <div class="min-width">
      <p>Cultivate worked as part of the Agile Delivery Network to bring Agile software development into the public sector. Cultivate’s team worked with members of the GOV.UK team and were responsible for the development of a number of core back and front-end features.</p>
      <p>The project was delivered on time and on budget and was one of the flagship Government Digital Service Projects. It has been used extensively throughout its history and has lead to substantial cost savings for the Government.</p>
    </div>
  </div>

  <div class="row row--image-feature">
    <%= image_tag("case-studies/epetitions.jpg", alt: 'Screenshot of e-petitions') %>
  </div>

  <blockquote class="testimonial-quote-macro">
    <div class="min-width">
      <div class="testimonial-quote__image"><%= image_tag "images/testimonials/large/alastair-williamson-pound.jpg", alt: "Photo of Alastair Williamson-Pound" %></div>
      <p>Agile made e-petitions the success story it is. At 3p/signature (and reducing all the time), it’s hugely cost effective. Among a sea of quotations for £1m and 8 months using waterfall methodology, e-petitions was built for £80k (all-in) in 8 weeks.</p>
      <p>Seeing it come to life so quickly kept everyone motivated and built huge confidence. The stakeholders were stunned that we could show them working software on day two. They were used to seeing powerpoint slides and photoshop mocks ups for the first three steering meetings.</p>
      <p>The Agile Delivery Network delivered beyond all our expectations. The flexibility of team and the quality of the service delivered by the team at gives us real hope - and evidence of a successful model for delivery of digital services. </p>
      <cite>Alastair Williamson-Pound - Senior Product Manager, The Money Advice Service</cite>
    </div>
  </blockquote>

</article>
<%= partial "partials/cta" %>
<div class="row padding-medium">
  <h2>Related Services</h2>
  <div class="services-links max-width">
    <%= partial "partials/service_links/software_development" %>
    <%= partial "partials/service_links/user_experience" %>
    <%= partial "partials/service_links/clients" %>
  </div>
</div>
