---
title: "Clients"
---
<section id="what-our-clients-say">
  <div class="client-quote">
    <%= image_tag 'clients/julian_letessier.jpg', alt: 'Photograph of Julian Letessier' %>
    <p>
      Where most consultancies expect specs to be thrown over the fence, the Cultivate engineers truly became part
      of our team. The collaboration with Cultivate was instrumental in building a culture of remote collaboration
      which we expanded across our whole engineering team. The project was a success, and we came out with a better
      team then when we started!
    </p>

    <p class="author">Julian Letessier, VP of Technology, HouseTrip </p>
  </div>

  <div class="client-quote">
    <%= image_tag 'clients/nick_jones.jpg', alt: 'Photograph of Nick Jones' %>
    <p>
      Working with Cultivate played a key role in the early stages our product development journey.
      They helped bridge the gap between business and technology, working with us to build consensus around
      our unique business environment before jumping into feature delivery. This was hugely valuable in helping
      us to focus and prioritise our development efforts.
      I would highly recommend the services provided by Cultivate.
    </p>
    <p class="author">
      Nick Jones, Investor and Non-Executive Director, Aquila Insight
    </p>
    <p>
      <%= link_to 'Read the Aquila Insight case study', '/case-studies/aquila-insight' %>
    </p>
  </div>

  <div class="client-quote">
    <%= image_tag 'clients/alastair_williamson_pound.jpg',
          alt: 'Photograph of Alastair Williamson-Pound' %>
    <p>
      Cultivate were originally brought in not only to provide outsourced development support but work very closely
      with the in-house development team, so much so that they could be considered an in-house team themselves. It
      is the team's collaborative and friendly culture that allowed them to achieve this with ease.
    </p>
    <p>
      In every project I worked with Cultivate on, they always found opportunities to over-exceed. Cultivate continuously
      over-delivered and provided expert guidance where my technical skills were lacking. I very much felt like a Client
      when working with them and that being so, I found that the team always kept a close eye on the user needs, asking
      questions, challenging everything that didn't make until the value and rationale was abundantly clear. The organisation
      as a whole are very uncomfortable creating anything that doesn't deliver value and I commend that attitude.
    </p>
    <p>
      I can highly recommend the services provided by Cultivate. I only hope that I get to work with other development
      companies that are as talented, professional and easy to work with.
    </p>
    <p class="author">
      Alastair Williamson-Pound - Senior Product Manager, The Money Advice Service
    </p>
  </div>

  <div class="client-quote">
    <%= image_tag 'clients/john_kat.jpg', alt: 'Photograph of John Kat' %>
    <p>
      Cultivate really helped us to kick-start our project by establishing a way of working and the technology platform
      from which we could independently drive our developments. Along the way we have benefited from their continued
      support and to this day we still refer to them for guidance in both user and technology product developments.
    </p>
    <p class="author">
      John Kat – Co-Founder and CTO, Secret Earth.
    </p>
  </div>

  <div class="client-quote">
    <%= image_tag 'clients/peter_herlihy.jpg', alt: 'Photograph of Peter Herlihy' %>
    <p>
      The Agile Delivery Network SMEs delivered beyond all our expectations. The flexibility and the quality of the
      service delivered by the team at ADN gives us real hope – and evidence of a successful model for delivery of
      digital services.
    </p>

    <p>
      Agile made e-petitions the success story it is. At 3p/signature (and reducing all the time), it’s hugely cost
      effective. Among a sea of quotations for £1m and 8 months using waterfall methodology, e-petitions was built
      for £80k (all-in) in 8 weeks.
    </p>

    <p>
      Seeing it come to life so quickly kept everyone motivated and built huge confidence. The stakeholders were
      stunned that we could show them working software on day two. They were used to seeing powerpoint slides and
      photoshop mocks ups for the first three steering meetings.
    </p>
    <p class="author">
      Peter Herlihy - Product Manager, Government Digital Service
    </p>
  </div>
</section>
