---
title: "Why Cultivate"
subtitle: "What it’s like to work with us"
---
<article class="page-content min-width padding-large">

  <blockquote class="testimonial-quote">
    <span class="testimonial-quote__inner">
      I’ve worked with the folks at Cultivate first hand. While they excel at agile product development, where they really shine is in striving to continually understand changing client and customer needs and incorporating those learnings, in real time, into their work. This results not only in products built and designed well but also ones that demonstrably impact their clients’ businesses
      <cite class="testimonial__cite">Jeff Gothelf - Author, Lean UX</cite>
    </span>
    <div class="testimonial-quote__left"><%= image_tag "images/testimonials/large/jeff-gothelf.jpg", alt: "Photo of Evan Jeff Gothelf" %></div>
  </blockquote>

  <blockquote class="testimonial-quote">
    <span class="testimonial-quote__inner">
      The Cultivate team is an exceptional group of software engineers. You get the highest quality of process, code, and technical architecture. They know how to keep a software project out of trouble. They not only have impeccable integrity, but they are also delightful to work with.
      <cite class="testimonial__cite">Giff Constable - CEO, Neo</cite>
    </span>
    <div class="testimonial-quote__left"><%= image_tag "images/testimonials/large/giff-constable.jpg", alt: "Photo of Evan Giff Constable" %></div>
  </blockquote>

  <blockquote class="testimonial-quote">
    <span class="testimonial-quote__inner">
      The team at Cultivate combine the best of agile software delivery with an in-depth knowledge of product development. It’s hard to find a team as experienced and passionate as they are.
      <cite class="testimonial__cite">Evan Henshaw-Plath - Co-creator, Twitter</cite>
    </span>
    <div class="testimonial-quote__left"><%= image_tag "images/testimonials/large/evan-henshaw-plath.jpg", alt: "Photo of Evan Henshaw-Plath" %></div>
  </blockquote>

  <blockquote class="testimonial-quote">
    <span class="testimonial-quote__inner">
      I very much felt like a Client when working with them and that being so, I found that the team always kept a close eye on the user needs, asking questions, challenging everything that didn't make until the value and rationale was abundantly clear. The organisation as a whole are very uncomfortable creating anything that doesn't deliver value and I commend that attitude.
      <cite class="testimonial__cite">Alastair Williamson-Pound	Senior Product Manager - The Money Advice Service</cite>
    </span>
    <div class="testimonial-quote__left"><%= image_tag "images/testimonials/large/alastair-williamson-pound.jpg", alt: "Photo of Alastair Williamson-Pound" %></div>
  </blockquote>

</article>
<%= partial "partials/cta" %>
<%= partial "partials/case_studies" %>
