---
title: "Clients"
subtitle: "and Case-Studies"
---

<article>
  <section class="home-clients padding-large">
    <div class="max-width">
      <h2>Our clients cover FTSE100 companies, VC-backed startups and public sector organisations.</h2>
      <ul class="home-clients-list">
        <li><%= image_tag("clients/deliveroo.svg", alt: 'Deliveroo') %></li>
        <li><%= image_tag("clients/jp-morgan.svg", alt: 'J.P.Morgan') %></li>
        <li><%= image_tag("clients/gov-uk.svg", alt: 'GOV.UK') %></li>
        <li><%= image_tag("clients/money-advice-service.svg", alt: 'Money Advice Service') %></li>
        <li><%= image_tag("clients/TNF.svg", alt: 'The North Face') %></li>
        <li><%= image_tag("clients/house-trip.svg", alt: 'House Trip') %></li>
        <li><%= image_tag("clients/view-a-bill.svg", alt: 'View-a-Bill') %></li>
        <li><%= image_tag("clients/general-electric.svg", alt: 'General Electric') %></li>
        <li><%= image_tag("clients/aquila-insight.svg", alt: 'Aquila Insight') %></li>
        <li><%= image_tag("clients/turnstone.svg", alt: 'Turnstone') %></li>
        <li><%= image_tag("clients/scottish-enterprise.svg", alt: 'Scottish Enterprise') %></li>
        <li><%= image_tag("clients/38-degrees.svg", alt: '38 Degrees') %></li>
        <li><%= image_tag("clients/registers-of-scotland.svg", alt: 'Registers of Scotland') %></li>
        <li><%= image_tag("clients/living-social.svg", alt: 'Living Social') %></li>
        <li><%= image_tag("clients/nesta.svg", alt: 'Nesta') %></li>
      </ul>
      <a class="button" href="/testimonials/">see what our clients say about us</a>
    </div>
  </section>

  <section class="row row--light case-studies-wrapper padding-medium">
    <div class="max-width">
      <h2>Client Case Studies</h2>
      <%= partial "partials/case_studies_featured" %>
    </div>
  </section>

</article>
