---
title: "Case Study"
subtitle: "The Money Advice Service"
---
<article class="">

  <div class="page-content padding-large-top">
    <div class="shout-out divider min-width">
      <p><strong>The Challenge:</strong> To build digital products that positively affect the financial health of the 11 million annual visitors to the Money Advice Service website.</p>
    </div>

    <div class="min-width">
      <h2>A long term supporting role</h2>
      <p>Cultivate were originally engaged to update a single tool, with the opportunity to provide ongoing support on other projects based on our heritage within Agile, Lean UX and Ruby on Rails.  We worked hard from the beginning to create a transparent and collaborative partnership with The Money Advice Service’s (MAS) internal team. This has proven a valuable foundation – two years and many projects later, we continue to be a trusted pair of hands. </p>
    </div>
  </div>

  <blockquote class="testimonial-quote-macro">
    <div class="min-width">
      <div class="testimonial-quote__image"><%= image_tag "images/testimonials/large/evan-henshaw-plath.jpg", alt: "Photo of Evan Henshaw-Plath" %></div>
      The team at Cultivate combine the best of agile software delivery with an in-depth knowledge of product development. It’s hard to find a team as experienced and passionate as they are.
      <cite>Alastair Williamson-Pound - Senior Product Manager, The Money Advice Service</cite>
    </div>
  </blockquote>

  <div class="page-content padding-large-top">
    <div class="min-width">
      <h2>Focused Product Development</h2>
      <p>Cultivate provide full product development teams, comprising engineering, UX and visual design. This full team approach ensures MAS get the best product on time and in budget.</p>
    </div>
  </div>

  <blockquote class="testimonial-quote-macro">
    <div class="min-width">
      <div class="testimonial-quote__image"><%= image_tag "images/testimonials/large/evan-henshaw-plath.jpg", alt: "Photo of Evan Henshaw-Plath" %></div>
      Cultivate helped us to distill our unique requirements down, and define was needed to deliver  a replacement system in 6 weeks. The new system is highly focused, simpler to use than it’s predecessor and delivers all the functionality we required. Cultivate delivered exactly what was needed, on time and within budget. They spent the time with us early in the project to completely understand what was required, then worked closely with us to build the solution.
      <cite>Edmund Ward - Syndication Manager, The Money Advice Service</cite>
    </div>
  </blockquote>

  <div class="page-content padding-large-top">
    <div class="min-width">
      <p>We are entrusted with the creation of new software products that form the basis of the organisation’s strategic capability. We work closely with internal teams and stakeholders to define, scope and deliver these products to the highest standard.</p>
      <p>We continue to support MAS by:</p>
      <ul>
        <li>Running workshops to generate ideas, clarify project scope and set direction</li>
        <li>Delivering new high-priority software projects</li>
        <li>Bringing existing public facing website 'tools' up to date</li>
        <li>Updating and enhancing existing projects</li>
      </ul>
      <h2>A trusted partner with broad and deep experience</h2>
      <p>Over the extended period of our work with MAS we’ve gained familiarity with a broad spectrum of projects and technologies giving us a unique ability to add value in many disparate areas. Our whole team work full stack and even contribute on dev-ops when required. This breadth of capability has helped us build trust and rapport across the organisation from management to product-ownership, design to dev-ops and everything in between.</p>
    </div>
  </div>

  <blockquote class="testimonial-quote-macro">
    <div class="min-width">
      <div class="testimonial-quote__image"><%= image_tag "images/testimonials/large/evan-henshaw-plath.jpg", alt: "Photo of Evan Henshaw-Plath" %></div>
      Cultivate were originally brought in not only to provide outsourced development support but work very closely with the in-house development team, so much so that they could be considered an in-house team themselves. It is the team's collaborative and friendly culture that allowed them to achieve this with ease.
      <cite>Alastair Williamson-Pound - Senior Product Manager, The Money Advice Service</cite>
    </div>
  </blockquote>

  <div class="page-content padding-large-top">
    <div class="min-width">
      <h2>How do we work?</h2>
      <h3>We are remote, but connected.</h3>
      <p>Being based in Edinburgh, we were engaged from the beginning as a remote team. Remote working is a skill ingrained in the Cultivate culture and ethos. It requires extra effort to be ‘present’ which we work hard to achieve.</p>
      <p>We maintain our connection with regular communication:</p>
      <ul>
        <li>Daily standups</li>
        <li>Nightly emails with a burn-up chart showing progress</li>
        <li>Weekly demo &amp; planning sessions </li>
        <li>Regular retrospectives</li>
        <li>Monthly onsite visits</li>
        <li>Always available online via Slack, Trello and VOIP</li>
      </ul>
      <h3>Pull Quote example</h3>
      <blockquote class="pullquote">
          Cultivate played a key role in the early stages our product development journey.
          <cite>Nick Jones - Aquila Insight</cite>
      </blockquote>
      <p>Cultivate undertook an Inception to build an understanding of their market, identifying areas where a software platform could help them achieve their goals. We developed an initial development roadmap including sliced, estimated and prioritised releases, giving the team an understanding of the platform as a whole, whilst enabled balanced and incremental development.</p>
      <p>Cultivate also provided guidance on the development approach for Aquila’s product, including team makeup, recommended development practices and advice on how to transition to an in- house team.</p>
    </div>
  </div>


</article>
<%= partial "partials/cta" %>
<div class="row padding-large">
  <h3>Related Services</h2>
<%= partial "partials/services_secondary" %>
</div>
