---
title: "Case Study"
subtitle: "Viewabill"
---

<article>

  <div class="page-content padding-medium">
    <div class="shout-out divider min-width">
      <p>An entrepreneurial lawyer wanted to address the wide-spread problem of poor client/service provider relationships. Viewabill connects law firms with their clients to provide transparency and real-time invoicing.</p>
    </div>

    <div class="min-width">
      <p>Cultivate partnered with Viewabill’s founders to bring their vision to life. Our team were responsible for the complete engineering and visual design of the Viewbill web and iPhone applications. We integrated with many web-based time tracking systems and built a RESTful API allowing older client-server billing systems to push data to the service.</p>
    </div>
  </div>

  <div class="row row--light row--image-feature padding-medium">
    <%= image_tag("case-studies/viewabill1.jpg", alt: 'Screenshot of view-a-bill') %>
  </div>

  <div class="page-content padding-medium">

    <div class="min-width">
      <p>Viewabill went from strength to strength, securing significant investment rounds and growing its customer base. It counts MGM Resorts, Reed Smith, Greenberg Traurig and American Eagle amongst its clients.</p>
      <p>Viewabill was acquired by Mitratech, the leading provider of legal management platforms,  in March 2016. </p>
    </div>
  </div>

  <div class="row row--image-feature">
    <%= image_tag("case-studies/viewabill5.jpg", alt: 'Screenshot of view-a-bill') %>
  </div>

</article>
<%= partial "partials/cta" %>
<div class="row padding-medium">
  <h2>Related Services</h2>
  <div class="services-links max-width">
    <%= partial "partials/service_links/software_development" %>
    <%= partial "partials/service_links/user_experience" %>
    <%= partial "partials/service_links/clients" %>
  </div>
</div>
