---
title: "User Experience"
---
<article class="page-content padding-large">

  <div class="shout-out divider min-width">
    <p>Our senior team have years of experience helping companies to understand their customers, explore potential solutions and deliver products that meet both customer and business needs.</p>
  </div>

  <div class="mid-width divider">
    <div class="columns">

      <div class="column column--one-third">
        <h2>Facilitating Discussions</h2>
        <p>At the beginning of a project, we specialise in facilitating discussions around product vision with business and customer needs at their core. We’ll work with you to define success in measurable terms, and explore potential solutions to help you and your customers achieve that success. We’ll surface assumptions and realities, ensuring that the team is aligned to build the best possible product.</p>
        <p>Throughout delivery, we’ll advocate for your customers, bringing the best out of your teams with expertise in product ownership and project management, ensuring that proposed solutions fit with genuine customer needs.</p>
        <blockquote class="testimonial-quote-micro">
          <div class="testimonial-quote-micro__image"><%= image_tag "images/testimonials/large/evan-henshaw-plath.jpg", alt: "Photo of Evan Henshaw-Plath" %></div>
          The team at Cultivate combine the best of agile software delivery with an in-depth knowledge of product development. It’s hard to find a team as experienced and passionate as they are.
          <cite>Evan Henshaw-Plath<br>Co-creator, Twitter</cite>
        </blockquote>
      </div>

      <div class="column column--one-third">
        <h2>Lean Startup &amp; Lean UX</h2>
        <p>Cultivate are long-term practitioners of Lean Startup and Lean UX. We've been part of the movement since it’s conception, working closely with Jeff Gothelf and Josh Seiden, authors of the best selling book “Lean UX: Applying Lean Principles to Improve User Experience” on projects and delivering workshops.</p>
        <blockquote class="testimonial-quote-micro">
          <div class="testimonial-quote-micro__image"><%= image_tag "images/testimonials/large/evan-henshaw-plath.jpg", alt: "Photo of Evan Henshaw-Plath" %></div>
          The team at Cultivate combine the best of agile software delivery with an in-depth knowledge of product development. It’s hard to find a team as experienced and passionate as they are.
          <cite>Evan Henshaw-Plath<br>Co-creator, Twitter</cite>
        </blockquote>
      </div>

      <div class="column column--one-third column--last">
        <h2>Seasoned Practioners</h2>
        <p>We are experienced at liaising with stakeholders across a broad range of disciplines and levels of seniority. Our seasoned  practitioners have a breadth of experience traversing multiple disciplines that combine to create brilliant products including visual design, lean ux, front and back-end engineering, agile, SEO, psychology and many more. </p>
        <blockquote class="testimonial-quote-micro">
          <div class="testimonial-quote-micro__image"><%= image_tag "images/testimonials/large/evan-henshaw-plath.jpg", alt: "Photo of Evan Henshaw-Plath" %></div>
          The team at Cultivate combine the best of agile software delivery with an in-depth knowledge of product development. It’s hard to find a team as experienced and passionate as they are.
          <cite>Evan Henshaw-Plath<br>Co-creator, Twitter</cite>
        </blockquote>
      </div>

    </div>

  </div>

  <div class="shout-out divider min-width">
    <p><a href="#">Our team</a> can support you at any stage of your product development journey,
      with extensive experience in early stage product discovery, customer research,
      interaction design, prototyping, customer journey mapping amongst others.
    </p>
  </div>
  <div class="shout-out min-width">
    <p>
      Every engagement is unique. We find that the best way to understand how to deliver
a service tailored to your needs is to understand your unique business environment.
Please <a href="#">get in touch</a> if you’re looking to build products that your customers will truly love.
    </p>
  </div>

</article>

<%= partial "partials/ux_workshops" %>

<%= partial "partials/cta_alt" %>
<div class="row padding-large">
  <h3>Related Services</h2>
<%= partial "partials/services_secondary" %>
</div>
