<%= partial "partials/head" %>
<%= partial "partials/header" %>
  <body class="<%= page_classes %>">
    <section class="home-testimonial padding-large">
      <div class="mid-width">
        <blockquote class="testimonial-quote testimonial-quote--home">
          <span class="testimonial-quote__inner">
            The team at Cultivate combine the best of agile software delivery with an in-depth knowledge of product development. It’s hard to find a team as experienced and passionate as they are.
          </span>
          <cite class="testimonial-quote__left"><%= image_tag "images/testimonials/large/evan-henshaw-plath.jpg", alt: "Photo of Evan Henshaw-Plath" %>Evan Henshaw-Plath<br> Co-creator, Twitter</cite>
        </blockquote>
        <a class="button button--on-dark" href="#">What can Cultivate do for you?</a>
      </div>
    </section>
    <%# "yield" pulls in index.html.erb %>
    <%= yield %>
    <%= partial "partials/footer" %>
