<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
    <%= stylesheet_link_tag "code_highlight" %>
  </head>
  <body class="<%= page_classes %>">
    <%= partial "partials/header" %>
    <div id="site-content-area">
      <div class="wrapper">
        <h1><%= current_article.title %></h1>
        <%= yield %>
      </div>
    </div>
  </body>
</html>