<!doctype html>
<html lang="en">
  <head>
    <%= partial "partials/head" %>
    <%= stylesheet_link_tag "code_highlight" %>
  </head>
  <body class="<%= page_classes %>">
    <%= partial "partials/header" %>
    <div id="site-content-area">
      <div class="wrapper">
        <div class="breadcrumbs">
          <%= breadcrumbs(current_page) %>
        </div>
        <h1><%= current_page.data.title || current_article.title %></h1>
        <div class="content-column">

          <article class="blog-post">
            <header>
              <span class="blog-post__author"><%= current_page.data.author %></span>
              <% if defined? current_page.date %>
                ,
                <span class="blog-post__date">
                  <%= current_page.date.strftime('%d %B, %Y') %>
                </span>
              <% end %>
            </header>
            <div class="blog-post__body"><%= yield %></div>
          </article>

        </div>
      </div>
    </div>
    <%= partial "partials/footer" %>
  </body>
</html>
