<header>
  <div id="site-header">
    <div class="wrapper">
      <a href="/">
        <div id="logo">
          <div class="logo-text">
            Cultivate 
          </div>
          <div class="logo-icon">
            <%= image_tag 'logo-small-wider-space.png' %>
          </div>
        </div>
      </a>
      <nav>
        <ul>
          <li><%= link_to 'Our History', '/#our-history' %></li>
          <li><%= link_to 'What we do', '/#what-we-do' %></li>
          <li><%= link_to 'Contact', '/#contact' %></li>
          <li><%= link_to 'Blog', '/posts/' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>