<section id="cultivate-history">
  <div class="wrapper">
    <a class="internal-anchor" name="our-history"></a>
    <h1>Our History</h1>
    <%= image_tag("history-line.png") %>
    <p>
    Cultivate’s team have a rich heritage in software development, user experience design, and business acumen. Throughout our history, we have operated under a number of brand names, but our vision and passion for our craft remains unchanged.
    </p>

    <p>
    In 2007 EdgeCase was formed - a software development studio with a passion for craftsmanship, delivering high quality Ruby on Rails software. In 2009 we became part of the EdgeCase story, with the opening of the UK office in Edinburgh.
    </p>

    <p>
    January 2012 saw EdgeCase acquired as part of the formation of Neo, a global product development studio. Neo brought together some of the best engineering and design consultancies to deliver Lean and Agile services to clients around the world. This added Lean UX, Lean Startup, and Customer Development to our skillset.
    </p>

    <p>
    Cultivate was formed in September 2014, when we separated amicably from Neo. We continue to bring our core values - humility, honesty and craft - to delivering world-class engineering, design, and business strategy to the UK and wider European markets.
    </p>
    <h3 class="table-legend">Previous clients:</h3>
    <ul class="clients">
      <li><%= image_tag("clients/emerge-adapt.svg") %></li>
      <li><%= image_tag("clients/general-electric.svg") %></li>
      <li><%= image_tag("clients/gov-uk.svg") %></li>
      <li><%= image_tag("clients/house-trip.svg") %></li>
      <li><%= image_tag("clients/money-advice-service.svg") %></li>
      <li><%= image_tag("clients/scottish-enterprise.svg") %></li>
      <li><%= image_tag("clients/secret-earth.svg") %></li>
      <li><%= image_tag("clients/1part-carbon.svg") %></li>
      <li><%= image_tag("clients/turnstone.svg") %></li>
      <li><%= image_tag("clients/view-a-bill.svg") %></li>
      </ul
  </div>
  <p>
</section>
