<div id="menu" class="slideout-menu">
  <nav>
    <ul>
      <li><%= link_to 'Services', '/services/', class: 'nav-services' %></li>
      <li><%= link_to 'Testimonials', '/testimonials/', class: 'nav-testimonials' %></li>
      <li><%= link_to 'Clients', '/clients/', class: 'nav-clients' %></li>
      <li><%= link_to 'About Us', '/about/', class: 'nav-about' %></li>
      <li><%= link_to 'Jobs', '/jobs/', class: 'nav-jobs' %></li>
      <li><%= link_to 'Blog', '/posts/', class: 'nav-posts' %></li>
      <li><%= link_to 'Contact Us', '/contact/', class: 'nav-contact' %></li>
    </ul>
  </nav>
</div>
