---
title: "Testimonials"
subtitle: "What it's like to work with us"
---
<article>

<div class="page-content min-width padding-large">
<blockquote class="testimonial-quote">
    <span class="testimonial-quote__inner">
      We’re really proud to be partnering with Cultivate, who are providing world-leading expertise that has been homegrown here in the UK. Cultivate has been a fantastic partner for us. Their team has integrated seamlessly into ours and we’re excited for them to be part of our continued work to build world-leading technology that means we can provide the very best service for our customers, restaurants and riders.
      <cite class="testimonial__cite">Dan Webb - VP of Engineering, Deliveroo</cite>
    </span>
    <div class="testimonial-quote__left"><%= image_tag "images/testimonials/large/dan-webb.jpg", alt: "Photo of Dan Webb" %></div>
</blockquote>

<blockquote class="testimonial-quote">
    <span class="testimonial-quote__inner">
      Cultivate's combination of technical knowledge, industry experience and business knowledge was invaluable to us. You are not just dealing with a group of developers but with a group of people who have delivered a large number of projects in the real world. Cultivate provided clarity on our product direction and an understanding of what was possible and deliverable. This has proved to be invaluable in executing our projects and delivering value to our customers.
      <cite class="testimonial__cite">Chris Greening - CTO, MRM Brand</cite>
    </span>
    <div class="testimonial-quote__left"><%= image_tag "images/testimonials/large/chris-greening.jpg", alt: "Photo of Chris Greening" %></div>
  </blockquote>

  <blockquote class="testimonial-quote">
    <span class="testimonial-quote__inner">
      I've worked with the folks at Cultivate first hand. While they excel at agile product development, where they really shine is in striving to continually understand changing client and customer needs and incorporating those learnings, in real time, into their work. This results not only in products built and designed well but also ones that demonstrably impact their clients' businesses.
      <cite class="testimonial__cite">Jeff Gothelf - Author, Lean UX</cite>
    </span>
    <div class="testimonial-quote__left"><%= image_tag "images/testimonials/large/jeff-gothelf.jpg", alt: "Photo of Evan Jeff Gothelf" %></div>
  </blockquote>

  <blockquote class="testimonial-quote">
      <span class="testimonial-quote__inner">
        Cultivate are by far the most responsive, hard-working and collaborative agency we have worked with. They’ve made an effort to truly understand our technical needs, as well as our mission as an organisation. Working with Cultivate feels like an extension of our own team, and they are generous in sharing their knowledge and experience. They have a great mix of complimentary skills from product management to design, and the tools they have built for us are designed with future use in mind. I can't recommend Cultivate enough.
        <cite class="testimonial__cite">Bex Hay - Head of Technology, 38 Degrees</cite>
      </span>
      <div class="testimonial-quote__left"><%= image_tag "images/testimonials/large/bex-hay.jpg", alt: "Photo of Bex Hay" %></div>
  </blockquote>

  <blockquote class="testimonial-quote">
    <span class="testimonial-quote__inner">
      Cultivate helped us to distill our unique requirements down, and define was needed to deliver a replacement system in 6 weeks. The new system is highly focused, simpler to use than it's predecessor and delivers all the functionality we required. Cultivate delivered exactly what was needed, on time and within budget. They spent the time with us early in the project to completely understand what was required, then worked closely with us to build the solution.
       <cite class="testimonial__cite">Edmund Ward - Product Manager, The Money Advice Service
        <p><a href="/clients/case-studies/money-advice-service/">Read Case Study</a></p></cite>
     </span>
     <div class="testimonial-quote__left"><%= image_tag "images/testimonials/large/edmund-ward.jpg", alt: "Photo of Edmund Ward" %></div>
  </blockquote>

  <blockquote class="testimonial-quote">
    <span class="testimonial-quote__inner">
      The Cultivate team is an exceptional group of software engineers. You get the highest quality of process, code, and technical architecture. They know how to keep a software project out of trouble. They not only have impeccable integrity, but they are also delightful to work with.
      <cite class="testimonial__cite">Giff Constable - VP of Product, Axial</cite>
    </span>
    <div class="testimonial-quote__left"><%= image_tag "images/testimonials/large/giff-constable.jpg", alt: "Photo of Evan Giff Constable" %></div>
  </blockquote>

  <blockquote class="testimonial-quote">
    <span class="testimonial-quote__inner">
      The Agile Delivery Network delivered beyond all our expectations. The flexibility of the team and the quality of the service delivered gives us real hope - and evidence of a successful model for delivery of digital services.
      <cite class="testimonial__cite">Peter Herlihy	- Lead Product Manager, Government Digital Service
        <p><a href="/clients/case-studies/gov-uk/">Read Case Study</a></p></cite>
    </span>
    <div class="testimonial-quote__left"><%= image_tag "images/testimonials/large/peter-herlihy.jpg", alt: "Photo of Peter Herlihy" %></div>
  </blockquote>

  <blockquote class="testimonial-quote">
    <span class="testimonial-quote__inner">
      The team at Cultivate combine the best of agile software delivery with an in-depth knowledge of product development. It's hard to find a team as experienced and passionate as they are.
      <cite class="testimonial__cite">Evan Henshaw-Plath - Co-creator, Twitter</cite>
    </span>
    <div class="testimonial-quote__left"><%= image_tag "images/testimonials/large/evan-henshaw-plath.jpg", alt: "Photo of Evan Henshaw-Plath" %></div>
  </blockquote>

  <blockquote class="testimonial-quote">
    <span class="testimonial-quote__inner">
      I very much felt like a Client when working with them and that being so, I found that the team always kept a close eye on the user needs, asking questions, challenging everything that didn't make sense until the value and rationale was abundantly clear. The organisation as a whole are very uncomfortable creating anything that doesn't deliver value and I commend that attitude.
      <cite class="testimonial__cite">Alastair Williamson-Pound	- Senior Product Manager, The Money Advice Service
        <p><a href="/clients/case-studies/money-advice-service/">Read Case Study</a></p></cite>
    </span>
    <div class="testimonial-quote__left"><%= image_tag "images/testimonials/large/alastair-williamson-pound.jpg", alt: "Photo of Alastair Williamson-Pound" %></div>
  </blockquote>

  <blockquote class="testimonial-quote">
    <span class="testimonial-quote__inner">
      Where most consultancies expect specs to be thrown over the fence, the Cultivate engineers truly became part of our team. The collaboration with Cultivate was instrumental in building a culture of remote collaboration which we expanded across our whole engineering team. They integrated to our practices while also rubbing off on our engineers. The project was a success, and we came out with a better team then when we started!
      <cite class="testimonial__cite">Julien Letissier - CTO, Housetrip </cite>
    </span>
    <div class="testimonial-quote__left"><%= image_tag "images/testimonials/large/julien-letissier.jpg", alt: "Photo of Julien Letissier" %></div>
  </blockquote>

  <blockquote class="testimonial-quote">
    <span class="testimonial-quote__inner">
      Working with Cultivate played a key role in the early stages our product development journey. They helped bridge the gap between business and technology, working with us to build consensus around our unique business environment before jumping into feature delivery. This was hugely valuable in helping us to focus and prioritise our development efforts. I would highly recommend the services provided by Cultivate.
       <cite class="testimonial__cite">Nick Jones - Non-Exec Director, Aquila Insight
        <p><a href="/clients/case-studies/aquila-insight/">Read Case Study</a></p></cite>
    </span>
    <div class="testimonial-quote__left"><%= image_tag "images/testimonials/large/nick-jones.jpg", alt: "Photo of Nick Jones" %></div>
  </blockquote>

  <blockquote class="testimonial-quote">
    <span class="testimonial-quote__inner">
      Cultivate really helped us to kick-start our project by establishing a way of working and the technology platform from which we could independently drive our developments. Along the way we have benefited from their continued support and to this day we still refer to them for guidance in both user and technology product developments.
       <cite class="testimonial__cite">John Kat -	Co-founder and CTO, Secret Earth</cite>
    </span>
    <div class="testimonial-quote__left"><%= image_tag "images/testimonials/large/john-kat.jpg", alt: "Photo of John Kat" %></div>
  </blockquote>

  <blockquote class="testimonial-quote">
    <span class="testimonial-quote__inner">
      Cultivate were originally brought in not only to provide outsourced development support but work very closely with the in-house development team so much so that they could be considered an in-house team themselves. It is the team's collaborative and friendly culture that allowed them to achieve this with ease.
       <cite class="testimonial__cite">Alastair Williamson-Pound - Senior Product Manager, The Money Advice Service</cite>
     </span>
     <div class="testimonial-quote__left"><%= image_tag "images/testimonials/large/alastair-williamson-pound.jpg", alt: "Photo of Alastair Williamson-Pound" %></div>
  </blockquote>
</div>
</article>
<%= partial "partials/cta" %>
