---
title: Welcome to Cultivate
---
<section class="home-callout padding-large">
  <div class="max-width">
    <h1>Our team build world-class software products with proven and in-depth expertise in product development, agile and user experience.</h1>
  </div>
</section>
<section class="home-clients padding-large">
  <div class="max-width">
    <h2>Our clients cover FTSE100 companies, VC-backed startups and public sector organisations.</h2>
    <ul class="home-clients-list">
      <li><%= image_tag("clients/living-social.svg", alt: 'Living Social') %></li>
      <li><%= image_tag("clients/jp-morgan.svg", alt: 'J.P.Morgan') %></li>
      <li><%= image_tag("clients/gov-uk.svg", alt: 'GOV.UK') %></li>
      <li><%= image_tag("clients/money-advice-service.svg", alt: 'Money Advice Service') %></li>
      <li><%= image_tag("clients/TNF.svg", alt: 'The North Face') %></li>
      <li><%= image_tag("clients/house-trip.svg", alt: 'House Trip') %></li>
      <li><%= image_tag("clients/view-a-bill.svg", alt: 'View-a-Bill') %></li>
      <li><%= image_tag("clients/general-electric.svg", alt: 'General Electric') %></li>
      <li><%= image_tag("clients/aquila-insight.svg", alt: 'Aquila Insight') %></li>
      <li><%= image_tag("clients/turnstone.svg", alt: 'Turnstone') %></li>
      <li><%= image_tag("clients/scottish-enterprise.svg", alt: 'Scottish Enterprise') %></li>
      <li><%= image_tag("clients/emerge-adapt.svg", alt: 'Emerge Adapt') %></li>
      <li><%= image_tag("clients/1part-carbon.svg", alt: '1part Carbon') %></li>
      <li><%= image_tag("clients/secret-earth.svg", alt: 'Secret Earth') %></li>
      <li><%= image_tag("clients/nesta.svg", alt: 'Nesta') %></li>
    </ul>
  </div>
</section>
<section class="services-block services-block--home padding-large">
  <h2>Our core services</h2>
  <%= partial "partials/services_core" %>
</section>
