---
title: Welcome to Cultivate
---

<section>
  <div class="wrapper">
    <a class="internal-anchor" name="what-we-do"></a>
    <div class="row">
      <div class="column column__third">
        <h3>Build and Test</h3>
        <p>Get your product out there. We partner with clients to design and build new software products with deep expertise in engineering, design and product management.</p>
      </div>
      <div class="column column__third">
        <h3>Consultation</h3>
        <p>Embed our senior engineers or designers in your existing team. Boost performance and instil best practice in Lean, Agile and Lean UX, combined with technical and design excellence.</p>
      </div>
      <div class="column column__third">
        <h3>Education</h3>
        <p>Introduce Lean, Agile and Lean UX methodologies, kick-start new product initiatives or improve existing processes. Our workshops are tailored to your specific business objectives.</p>
      </div>
    </div>
    <h3 class="table-legend">Clients:</h3>
    <ul class="clients">
      <li><%= image_tag("clients/emerge-adapt.svg") %></li>
      <li><%= image_tag("clients/general-electric.svg") %></li>
      <li><%= image_tag("clients/gov-uk.svg") %></li>
      <li><%= image_tag("clients/house-trip.svg") %></li>
      <li><%= image_tag("clients/money-advice-service.svg") %></li>
      <li><%= image_tag("clients/scottish-enterprise.svg") %></li>
      <li><%= image_tag("clients/secret-earth.svg") %></li>
      <li><%= image_tag("clients/1part-carbon.svg") %></li>
      <li><%= image_tag("clients/turnstone.svg") %></li>
      <li><%= image_tag("clients/view-a-bill.svg") %></li>
    </ul>
    <div class="call-to-action">
      <a href="/case-studies/">
        <i class="fa fa-briefcase"></i>
        See our case studies and testimonials
      </a>
    </div>
  </div>
</section>
<section class="work-with-us">
  <div class="wrapper">
    <a class="internal-anchor" name="contact"></a>
    <h1>
      We’re passionate about understanding businesses, ideas and people.
      <a href="mailto:contact@cultivateHQ.com">
        <strong>Let’s talk.</strong>
      </a>
    </h1>
  </div>
</section>
<%= partial "partials/history" %>
